/obj/
/bin/
/alire/
/config/
/lib/
/tests/obj/
/tests/bin/
/tests/alire/
/tests/config/
/tools/obj/
/tools/bin/
/tools/alire/
/tools/config/
/examples/obj/
/examples/bin/
/examples/alire/
/examples/config/

# Compiled executables (build output).
bin/
